name: Browsers CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  pages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x
      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - name: Install dependencies
        run: |
          npm install -g typescript
          npm install -g typedoc
          npm install -g esbuild
      - name: Run dnt
        run: deno task dnt
      - name: Run npm install
        working-directory: ./npm/crystals-kyber-js
        run: npm install
      - name: Build docs for crystals-kyber-js
        run: |
          npx typedoc --name "API reference for crystals-kyber-js/main" --out pages/docs/main mod.ts
          deno task minify:crystals-kyber-js > test/runtimes/browsers/pages/src/crystals-kyber.js
          mkdir pages/tests
          cp -rf test/runtimes/browsers/pages/* pages/tests
      - uses: peaceiris/actions-gh-pages@v4
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          publish_dir: ./pages

  playwright-test:
    needs: pages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - uses: microsoft/playwright-github-action@v1
      - working-directory: ./test/runtimes/browsers
        run: |
          npm install
          npx playwright install-deps
          npx playwright install
          npx playwright test
